/* Inicio de Información */

.divi{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between; 
    .divi__h1{

        margin-left: 10px;
        font-size: 60px;
        text-decoration-line:underline;
        color: #000000;
        text-align: center; 
    
    }
      
    .divi__img{
    
        margin-top: 100px;
        margin-left: 158px;
        @include tamaño (250px,170px); 

    }

}


.sectioni__articlei--ul{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: 200px;
    margin-top: 100px;
    list-style:disc;
    .sectioni__articlei--ul--lii{
         
        font-size: 40px;
        color: #000000;
        text-align: center; 
    
    }
   
    .pi{
    
        margin-bottom: 10px;
        color: black;
        font-size: 20px;
        text-align: left;
    
    }

}



@media  screen and (max-width:768px){

.body{
        
   background-color: #f3dbed;
           
}


.divi{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    .divi__h1{

        font-size: 40px;
        text-decoration-line:underline;
        color: #000000;
        text-align: center;  
        margin-top: 10px;
    
    }
    
    .divi__img{
    
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: 100px;
        @include tamaño (180px,140px); 
        animation-name: opacar;
        animation-duration: 2s;
        animation-iteration-count: initial;
    
    }
    
    @keyframes opacar {
        0%{
        opacity: 0;
        }
    
        100%{
        opacity: 1;
        }
    }
   

}


.sectioni__articlei--ul{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    list-style:disc;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 150px;
    .sectioni__articlei--ul--lii{
      
        font-size: 30px;
        color: #000000;
        text-align: left; 
    
    }
  
    .pi{
     
        margin-top: 15px;
        color: black;
        font-size: 18px;
        text-align: left;
    
    }

}



/* Inicio de grid en mediaq*/

#grilla{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
}


}


/* Fin de Información */
