/* Inicio de producto*/

.divp{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    .divp__h1{
 
        margin-left: 10px;
        font-size: 60px;
        text-decoration-line:underline;
        color: #000000;
        text-align: center;  
    
    }
    
    .divp__img{
    
        margin-top: 100px;
        margin-left: 200px; 
        @include tamaño (250px,170px);

    }
        
}


.sectionp__articlep{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    justify-content: space-around;
    margin-bottom: 100px;
        
                
    
        .sectionp1__articlep--imgnuevas1{

            @include tamaño (350px,none);
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            .sectionp1__articlep--h21{
    
                font-size: 50px;
                color: #000000;
                text-align: center; 
                }   
            .sectionp1__articlep--p{
         
                margin-top: 80px;
                margin-bottom: 100px;
                padding-top: 15px;
                padding-bottom: 0px;
                @include tamaño (350px,130px); 
                font-size: 20px;
                color: #000000;
                border: 3px solid #000000 ;
                text-align: center;
                } 
             
        }

        
    
    
        .sectionp2__articlep--imgnuevas2{
            
            @include tamaño (350px,none);
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            .sectionp2__articlep--h22{
        
                font-size: 50px;
                color: #000000;
                text-align: center; 
            
            }
            .sectionp2__articlep--p{
    
                margin-top: 80px;
                margin-bottom: 100px;
                padding-top: 15px;
                padding-bottom: 0px; 
                @include tamaño (350px,130px); 
                font-size: 20px;
                color: #000000;
                border: 3px solid #000000 ;
                text-align: center;
            } 
        }
        
        
    } 
    
    
    




@media screen and (max-width: 768px) {

    .body{
    
        background-color: #f3dbed;

    }
    
    .divp{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        .divp__h1{
     
            font-size: 40px;
            text-decoration-line:underline;
            color: #000000;
            text-align: center;  
            margin-top: 10px;     
        
        }
        
    
        .divp__img{
            
            margin-top: 0;
            margin-bottom: 30px;
            margin-left: 100px;
            @include tamaño (180px,140px); 
            animation-name: opacar;
            animation-duration: 2s;
            animation-iteration-count: initial;
        
        }
        
        @keyframes opacar {
            0%{
            opacity: 0;
            }
        
            100%{
            opacity: 1;
            }
        }
       
    
    }


    .sectionp__articlep{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        margin-bottom: 40px;
            
                    
        
            .sectionp1__articlep--imgnuevas1{
    
                @include tamaño (250px,none); 
                display:flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                .sectionp1__articlep--h21{
        
                    font-size: 30px;
                    color: #000000;
                    text-align: center; 
                    }   
                .sectionp1__articlep--p{
             
                    @include tamaño (250px,120px); 
                    font-size: 15px;
                    color: #000000;
                    border: 3px solid #000000 ;
                    text-align: center;
                    } 
                 
            }
    
            
        
        
            .sectionp2__articlep--imgnuevas2{
                
                @include tamaño (250px,none); 
                display:flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                .sectionp2__articlep--h22{
            
                    font-size: 30px;
                    color: #000000;
                    text-align: center; 
                
                }
                .sectionp2__articlep--p{
                    
                    @include tamaño (250px,120px); 
                    font-size: 15px;
                    color: #000000;
                    border: 3px solid #000000 ;
                    text-align: center;
                } 
            }
            
            
        } 

   
    
        
    
    
    /* Inicio de grid en mediaq*/
    
    #grilla{
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
    }
    
}
    /* Fin de producto */