// Compiladores
$colores: (negro: #000000, rosaclaro: #f3dbed, rosa: #f7a2e0);

@mixin tamaño ($ancho, $altura) {
    width: $ancho;
    height: $altura;
}

*{
    font-family: 'Shippori Antique', sans-serif;
    
}

.body{
    
    background-color: map-get($map: $colores, $key:rosaclaro);
    
}


// import

@import "index";
@import "productos";
@import "nosotros";
@import "info";
@import "contacto";






